@tailwind base;
@tailwind components;
@tailwind utilities;

/* Seus estilos globais extras */
body {
    margin: 0;
    background-color: #ffffff; /* Teste para ver se muda algo */
}

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
.scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
}